<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>
  <p> This is TinyApp </p>
  <% if (user['username']) { %>
    <p> <%= user['username'] %> </p>
    <form action="/logout" method="POST" style="margin:150px">
      <button name="Logout" type="submit" value="url">
        Logout
      </button>
    </form>
  <% } %>
</body>
</html>