<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <p>Welcome to Tiny App. The best app for shortening your URLs</p>
</body>
</html>