<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <p>Please login to view that content, friend.</p>
</body>
</html>