<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head %></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <p> Registration Page </p>
    <% if (status_Code === "400") { %>
      <p> "<%= username %>" is not a valid username/email. Please try another. </p>
      <p> <%= message %>. </p>
    <% } %>
    <form action="/register" method="POST" style="margin:150px;">
      <label for="username">Enter an email:</label>
      <input id="username" type=email name="username" placeholder="email@example.com" style="width: 300px">
      <label for="password">Enter a Password:</label>
      <input id="password" type=password name="password" placeholder="Put your password here" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>