<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>


</head>
<body>
  <%= urls.length %>
  <ul>
    <% for (var url in urls) { %>
    <li> <%= url %> </li>
    <% } %>
  </ul>
</body>
</html>