<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>


</head>
<body>
  <% include partials/_header %>
  <ul>
    <% for (url in urls) { %>
    <form action="/urls/<%= url%>/delete?_method=POST" method="POST" >
      <li> <%= url %> - <%= urls[url]["longURL"] %></li>
      <button name="Delete" type="submit" value="url">
        Delete
      </button>
    </form>
    <% } %>
  </ul>
</body>
</html>